@import 'setup';

//variables variables variables variables variables variables variables

$brown: #BA8800;
$black: #0B0101;
$green: #89933B; 
$white: #CAC3B9; 

$questrial: 'Questrial', sans-serif;
$inconsolata: 'Inconsolata';