@import 'setup';

//variables variables variables variables variables variables variables

$brown: #BA8800;
$black: #0B0101;
$green: #89933B; 
$white: #CAC3B9; 

$questrial: 'Questrial', sans-serif;
$inconsolata: 'Inconsolata';

//main styles main styles main styles main styles main styles main styles 

html{
	font-size: 62.5%;
}

body{
	background: $green;
	font-family: $questrial;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: $white;
	transition: color .6s;
	&:hover{
		color: $brown;
	}
}

//typography typography typography typography typography typography typography 

h1{
	font-family: $questrial;
	font-size: 40px;
	font-weight: 400;
	color: $black;
	line-height: 49px;
	margin: 0;
	padding: 0;
}

h2{
	font-family: $questrial;
	font-size: 12px;
	color: $white;
	line-height: 15px;
	margin: 0;
	padding: 0;
}

h3{
	font-family: $questrial;
	font-size: 2rem;
	color: $black;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}

p{
	font-family: $questrial;
	color: $black;
}

//inputs/buttons inputs/buttons inputs/buttons inputs/buttons inputs/buttons

select{
	border: none;
	border-radius: 5px;
	background: $white;
	color: $black;
	width: 100%;
	height: 3rem;
	margin: 2rem 0;
	font-family: $questrial;
	font-size: 1.2rem;
}

input{
	background: $white;
	border: none;
	padding: 1rem;
}

label{
	width: 50%;
	padding: 1rem 0;
	font-family: $questrial;
	font-size: 1.2rem;
	color: $black;
	line-height: 13px;
}

button{
	background: $brown;
	border: none;
	padding: 1rem 3rem;
	color: $white;
	font-family: $questrial;
	font-weight: 900;
	margin: 1rem 0;
	font-size: 1.8rem;
	border-radius: .5rem;
}

[type='checkbox']{
	margin-right: .6rem;
}

[type='number']{
	background: #CAC3B9;
	border-radius: 3px;
	width: 100%;
	height: 3rem;
}

.checkboxes {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.slurp {
	text-align: center;
}

//wraps/containers wraps/containers wraps/containers wraps/containers 

.wrapper{
	margin: 0 auto;
}

//header header header header header header header header header header 
header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	img{
		height: 149px;
	}
	h1{
		text-align: right;
		padding: 0;
		margin: 0;
		width: 50%;
	}
}

//sections sections sections sections sections sections sections sections 

section{
	padding: 1rem 0;
}

section.info{
	background: $brown;
}

section.selection{
	padding: 2rem 0;
}

.selectionTitle {
	padding: 1rem 0;
	background: $brown;
}

.inputArea {
	padding: 2rem 0;
}

.results{
	position: relative;
	padding: 4rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	.result{
		background: rgba(0,0,0,0.2);
		padding: 1.5rem;
		width: 100%;
		border: solid 2px $brown;
		margin: 1rem 0;
		h3{
			line-height: 1.2;
			font-size: 3rem;
			color: $white;
			width: 50%;
			padding: 0 .5rem;
		}
		p{
			line-height: 1.5;
			font-size: 1.4rem;
			text-align: left;
			span{
				color: $white;
				font-size: 1.6rem;
				margin-left: .2rem;
			}
		}
	}
	.itemDesc{
		width: 100%;
		border-top: solid 2px $brown;

	}
	.itemImg{
		text-align: center;
		width: 30%;
		padding: 0 .5rem;
		img{
			border: solid 1px $black;
		}
	}
}

.itemTitle{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
}

//backToTop backToTop backToTop backToTop backToTop backToTop backToTop

.backToTop {
	position: fixed;
	bottom: 6%;
	right: 1%;
	font-size: 3rem;
	z-index: 9999;
}

//footer footer footer footer footer footer footer footer footer footer 

footer{
	background: $black;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	color: $white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	p{
		font-size: 1.2rem;
		margin: 1rem 0;
		color: $white;
	}
	img{
		height: 1.4rem;
		margin-left: .5rem;
	}
	.lcboCred{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
	}
}

//media queries media queries media queries media queries media queries 

@media all and (max-width: 2222px) {
	.wrapper {
		max-width: 280px;
	}
}
