<!DOCTYPE html>
<html lang="en" ng-app="swillApp">
<head>
	<meta charset="UTF-8">
	<title>Great Cheap Swill</title>
<!--	icons -->
	<link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/icons/android-chrome-192x192.png" sizes="192x192">
	<meta name="msapplication-square70x70logo" content="/assets/icons/smalltile.png" />
	<meta name="msapplication-square150x150logo" content="/assets/icons/mediumtile.png" />
	<meta name="msapplication-wide310x150logo" content="/assets/icons/widetile.png" />
	<meta name="msapplication-square310x310logo" content="/assets/icons/largetile.png" />
<!--	/icons-->	
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Questrial|Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<img src="/assets/slurp.svg" alt="Cocktail Drink">
		<h1>Great Cheap Swill</h1>
	</header>
	
	<section class="info">
		<div class="wrapper">
			<h2>Best alcohol volume to price ratio?</h2>
			<h2>Currently on sale?</h2>
			<h2>Bonus reward miles?</h2>
		</div>
	</section>
	
	<section class="selection">
		<form ng-submit="formSubmit()" ng-controller="MainController">
			<div class="wrapper">
				<h3>I'm looking for:</h3>
				<select name="swill" ng-model="swill" id="swill">
					<option value="choose" disabled>Choose Swill...</option>
					<option value="beer">Beer</option>
					<option value="redWine">Red Wine</option>
					<option value="whiteWine">White Wine</option>
					<option value="whiskey">Whiskey</option>
					<option value="vodka">Vodka</option>
					<option value="rum">Rum</option>
					<option value="coolers">Coolers</option>
				</select>
			</div>
			<div class="selectionTitle">
				<div class="wrapper">
					<h2>That meets these criteria:</h2>
				</div>
			</div>
				<div class="wrapper checkboxes">
					<label for="onSale"><input type="checkbox" ng-model="checkboxModel.onSale['has_limited_time_offer']">On Sale</label>
					<label for="bonusMiles"><input type="checkbox" ng-model="checkboxModel.bonusMiles['has_bonus_reward_miles']">Bonus Reward Miles</label>
					<label for="clearance"><input type="checkbox" ng-model="checkboxModel.clearance['has_clearance_sale']">Clearance Sale</label>
					<label for="promo"><input type="checkbox" ng-model="checkboxModel.promo['has_value_added_promotion']">Added Promo</label>
					<label for="seasonal"><input type="checkbox" ng-model="checkboxModel.seasonal['is_seasonal']">Seasonal</label>
					<label for="kosher"><input type="checkbox" ng-model="checkboxModel.kosher['is_kosher']">Kosher</label>
				</div>
			<div class="selectionTitle">
				<div class="wrapper">
					<h2>Price per liter of alcohol in cents less than:</h2>
				</div>
			</div>
			<div class="inputArea wrapper">
				<input type="number" placeholder="Price in cents...">
			</div>
			<div class="selectionTitle">
				<div class="wrapper">
					<h2>Price per liter of liquid in cents less than:</h2>
				</div>
			</div>
			<div class="inputArea wrapper">
				<input type="number" placeholder="Price in cents...">
			</div>
			<div class="slurp">
				<button type="submit" value="Submit">Slurp!</button>
			</div>
		</form>
	</section>

	<section class='results' ui-view></section>
	
	
	<footer>
		<p>code &copy; 2015 <a href="http://giordan.ca">Giordan Battaglin</a></p>
		<p class='lcboCred'>harnesses <a href="https://lcboapi.com"><img src="/assets/lcboapi.png" alt="LCBO API logo"></a></p>
	</footer>
	
	
	
	
<!--	sweet drink svg by Okan Benn from the noun project-->
	
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>