<section class="selection" id="top">
	<div class="backToTop">
		<a class="fa fa-backward" href="http://lcbosavvy.xyz"></a>
		<a ng-click="backToTop()" class="fa fa-chevron-circle-up"></a>
	</div>

<!--section.results-->
<section class="results singleCtrl wrapper">
	<single-item
		class="resultItem"
		id="resultItem"
		ng-repeat="product in products">
		
		<h1>{{product.name}}</h1>
		<h2>{{product.package}}</h2>
		<div class="imgDiv">
			<img ng-hide="product.image_thumb_url === null" ng-src={{product.image_thumb_url}} alt="{{product.name}}">
		</div>
	
	</single-item>
	
		<h3 class="inStockDesc">is in stock at the following LCBO locations:</h3>
	
	<single-store
		ng-repeat="store in stores"
		class="result">
		
<!--		.store-->
		<div class="store">
			<p>Location: <span>{{store.name}}</span></p>		
			<p><span>{{store.address_line_1}}, {{store.city}}</span></p>		
			<p>Phone Number: <span><a href="tel:{{store.telephone}}">{{store.telephone}}</a></span></p>
			<p>Quantity: <span class="deal">{{store.quantity}}</span></p>
			<p>Updated on: <span>{{store.updated_on | date }}</span></p>
			<p ng-hide="store.distance_in_meters === undefined">Meters Away from You: <span>{{store.distance_in_meters}}</span></p>
			<p ng-hide="store.has_wheelchair_accessability === false"><span>Is Wheelchair Accessible</span></p>
		</div>
<!--		/.store-->
	</single-store>
	
	<h2 class="again"><a href="http://lcbosavvy.xyz">Search Again?</a></h2>

</section>
<!--/section.results-->